DASHSCOPE_API_KEY=your-api-key-here
DASHSCOPE_BASE_URL=https://dashscope-intl.aliyuncs.com
DATABASE_URL=file:./dev.db
NEXT_PUBLIC_APP_NAME=NUSARA

# Model Configuration
DASHSCOPE_TEXT_MODEL=qwen3.5-plus
DASHSCOPE_IMAGE_MODEL=wan2.6-i2v
DASHSCOPE_VIDEO_MODEL=wan2.6-i2v
DASHSCOPE_TTS_MODEL=qwen3-tts-vd-2026-01-26

# NextAuth
AUTH_SECRET=alibaba-hackathon-secret-key-2026
NEXTAUTH_URL=http://localhost:3000